{% extends '@Shop/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <h1 class="center topspace">Maak uw account aan</h1>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register reg topspace'}}) }}
        {{ form_widget(form) }}

        <div>
            <input type="submit"
                   class="btn btn-lg btn-primary btn-block subm"
                   id="_submit"
                   name="_submit"
                   value="{{ 'Registreer'|trans }}" />
        </div>
        {{ form_end(form) }}

{% endblock %}